#contioner {
  height: 400px;
  width: 700px;
  /* font-size: 16px; */
  background-color: rgb(73, 73, 73);
  border-radius: 5px;
  margin-top: 80px;
  color: white;
  letter-spacing: 1px;
  /* font-weight: bold; */
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppines", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 142, 174);
}
#contioner {
  height: 400px;
  width: 700px;
  /* font-size: 16px; */
  background-color: rgb(42, 42, 42);
  border-radius: 5px;
  margin-top: 80px;
  color: white;
  letter-spacing: 1px;
  display: flex;
  /* font-weight: bold; */
}

#About-box {
  margin-top: 90px;
  height: 300px;
  padding: 0px 25px 0px 20px;
  background: transparent;
  width: 500px;
}
h2 {
  line-height: 0;
}
span {
  color: rgb(0, 142, 174);
  font-weight: bolder;
  animation: anim 8s alternate infinite;
}

@keyframes anim {
  0% {
    color: lightskyblue;
  }
  50% {
    color: lightslategray;
  }
  100% {
    color: rgb(0, 142, 174);
  }
}
p {
  line-height: 1.2;
}
button {
  height: 30px;
  width: 120px;
  border-radius: 20px;
  background: rgb(0, 142, 174);
  font-weight: bolder;
  border: none;
  color: black;
  transition: 0.35 ease-in-out;
}
button:hover {
  box-shadow: 0px 4px 8px rgb(0, 142, 174);
  transform: translateY(-2px);
}

#image img {
  height: 180px;
  width: 290px;
  margin-top: 90px;
}
