* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(to right, #56ccf2, #2f80ed);
}

#image {
  background-color: transparent;
  position: absolute;
  z-index: 0;
  margin-left: 380px;
  height: 160px;
  width: 300px;
  margin-top: 50px;
  background-size: contain;
  /* background-color: transparent; */
  /* background-image: url("../desktop.ini"); */
}
#image img {
  height: 160px;
  width: 300px;
  /* box-shadow: 0px 4px 8px lightskyblue;
  transform: scale(1.1); */
}
/* */
#container {
  height: 400px;
  width: 700px;
  background-color: rgb(42, 42, 42);
  border-radius: 5px;
  margin-top: 80px;
  color: white;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}

/* ROTATE EFFECT */
#container:hover {
  animation: rotate 0.6s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

header {
  display: flex;
}

.home {
  color: rgb(0, 142, 174);
}

.h4 {
  width: 100px;
  font-weight: 900;
  padding: 8px 0 0 30px;
}

nav {
  width: 520px;
  margin-left: 100px;
  display: flex;
  padding: 8px;
}

nav a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  transition: 0.3s;
}

nav a:hover {
  color: rgb(0, 142, 174);
}

#home-box {
  height: 300px;
  width: 350px;
  margin-left: 30px;
  margin-top: 20px;
}

#home-box p {
  margin: 4px 0;
  line-height: 1.5;
}

.pra {
  font-weight: bold;
  font-size: 18px;
}

.pra-1 {
  margin-left: 30px;
  font-weight: bold;
  font-size: 20px;
}

span {
  color: rgb(0, 142, 174);
  text-transform: uppercase;
  animation: slides 3s infinite alternate;
}

@keyframes slides {
  from {
    color: rgb(0, 83, 135);
  }
  to {
    color: rgb(0, 142, 174);
  }
}

#profile-box {
  display: flex;
  margin-top: 10px;
}

.profiles {
  height: 40px;
  width: 40px;
  background: rgb(49, 49, 49);
  border: 2px solid rgb(0, 142, 174);
  border-radius: 50%;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.35s ease;
}

.profiles i {
  color: rgb(0, 142, 174);
  font-size: 20px;
}

.profiles:hover {
  background-color: rgb(0, 142, 174);
  transform: scale(1.1);
}

.profiles:hover i {
  color: black;
}

button {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: rgb(0, 142, 174);
  box-shadow: 0 4px 8px rgb(0, 142, 174);
  transition: 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgb(0, 142, 174);
}

button a {
  text-transform: capitalize;
  color: rgb(35, 35, 35);
  font-weight: 700;
  text-decoration: none;
}
