* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgb(0, 142, 174);
}

#container {
  height: 450px;
  width: 700px;
  background-color: rgb(42, 42, 42);
  border-radius: 5px;
  margin-top: 30px;
  color: white;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  /* transition: 0.3s ease-in-out; */
}
.heading {
  font-weight: bolder;
  font-size: 30px;
  line-height: 1.6px;
  margin-top: 20px;
}

.box {
  height: 100px;
  width: 660px;
  background: rgb(108, 108, 108);
  border-left: 10px solid rgb(0, 142, 174);
  margin: 30px 0px 0px 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: start;
  line-height: 1.4;
  padding-left: 10px;
}
